/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */


@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body{
  /* font-family: 'Titillium Web',sans-serif; */
  font-family: 'Nunito',sans-serif;
}




/***********    NavBar Start    ***********/
#navBar{
  background-color: rgb(0, 41, 73);
  box-shadow: 0px 2px 8px 3px rgb(171, 176, 189);
  margin-bottom: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.custom-active {
  background-color: #014172;
  /* border-width: 15px; */
  border-radius: 3px;
  color: white;
}

.nav-item {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.nav-link{
  /* color: #ffffff; */
  font-size: 1.15em;
}
.navbar-brand-logo {
  margin-top: -2%;
  margin-right: 5%;
  box-shadow: 0px 0px 5px 2px #c7d0e9cc;
  border-radius: 25%;
  padding: 2%;
}

.app-name{
  color: #94caf7;
  font-weight: bold;
}

.nav-links{
  margin-left: 2%;
}

.login-btn-cont{
  margin-right: 10%;
  margin-bottom : 2%;;
}

.login-btn {
  padding-left: 20.5px;
  padding-right: 20.5px;
  border-radius: 0.3em;
  background-color: #20b2c9;
  color: #ffffff;
}

.signup-btn-cont{
    margin: 1px;
}

.signup-btn{
  background-color: #dae1e9;
  border-radius: 0.3em;
}

.signup-btn-text{
  color : rgb(0, 41, 73);
}


#greeting{
  color: white;
  margin-top: 10px;
  z-index: 2;
  position: absolute;
  right: 0;
  margin-right: 20%;
}

/***********      NavBar End     ***********/




/***********       Vocab Card Start    ***********/
.vocab-card{
  /* background-color: steelblue; */
  padding-bottom: 3%;
  box-shadow: 0px 4px 20px 3px rgba(171, 176, 189, 0.5);
  border-radius: 0.5em;
}

.vocab-card-header{
  background-color: #003d6b;
  box-shadow: 0px 2px 15px 3px rgba(171, 176, 189, 0.7);
  /* border-top-right-radius: 2em; */
}

.vocab-card-h-text {
  color: white;
  font-size: 1.6em;
  font-weight: 500;
}

.vocab-logo{
  margin: 2%;
  margin-bottom: 4%;
}
/***********       Vocab Card End    ***********/



/***********      Login/SignUp Form Start    ***********/

.create-account-span,.login-here-span:hover {
  cursor: pointer;
}

.signup-modal-header {
  background-color: #e5e9ec;
  color: rgb(0, 41, 73);
}

.login-modal-header {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  margin-right: -0.5px;
  background-color: #20b2c9;
  color: #ffffff;
}

.checkbox-size{
  width: 17px;
  height: 17px;
}

/***********      Login/SignUp Form End    ***********/

